.col2 {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
}

@media screen and (max-width: 628px) {
    .col2 {
        flex-direction: column-reverse;
        align-items: center;
        /* flex-wrap: nowrap; */
    }
}

#user-block {
    border-radius: 15px;
    border: 2px solid #343536;
    margin: 2em;
    padding: 0.8em;
    height: fit-content;
    flex-grow: 1;
    max-width: 15em;
}

#user-block figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-block img {
    display: block;
    border: 2px solid #343536;
    border-radius: 50%;
    height: 100px;
}

#user-block figure figcaption {
    display: block;
}

#user-block button {
    width: 100%;
    height: fit-content;
    padding: 7px 12px;
    border-radius: 20px;
    border: 2px solid #818384;
    background-color: #1a1a1b;
    color: white;
}

#user-block .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.8em 0;
}

#user-block .info p {
    display: inline;
    margin: 0;
}

#user-settings {
    flex-grow: 3;
    margin: 2em;
}

#user-settings h1 {
    border-bottom: 2px solid white;
}

#user-settings h2 {
    margin: 0;
}

#user-settings p {
    margin: 0;
    color: #818384;
}

#user-settings figure {
    margin: 0.8em 0;
}

#user-block img {
    display: block;
    border: 2px solid white;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    width: 5em;
    height: 5em;
    margin-bottom: 0.5em;
}

#content-div a:link,
a:visited {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

#user-settings .setting-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    margin-bottom: 1.5em;
}

#user-settings .setting-button {
    width: fit-content;
    height: fit-content;
    padding: 7px 12px;
    border-radius: 20px;
    border: 2px solid #818384;
    background-color: #1a1a1b;
    cursor: pointer;
}

#user-settings .setting-button:hover {
    background-color: #343536;
}

#user-settings #delete {
    margin-top: 0.6em;
    color: red;
}

#user-settings #delete a:link,
#user-settings #delete a:visited {
    color: red;
    text-decoration: none;
    font-weight: bolder;
}

#user-settings img {
    max-height: 200px;
}

.line {
    border-bottom: 2px solid white;
    width: 100%;
}

#logout {
    display: flex;
    justify-content: center;
    border: white 2px solid;
    padding: 0.4em 1.4em;
    font-size: 1.2em;
    border-radius: 1em;
    text-decoration: none;
    color: #b80000;
    font-weight: 600;
}

#logout:hover {
    background-color: #b80000;
    color: white;
}

.dialog {
    display: none;
}

.dialog button {
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 2em;
    border: 2px solid #818384;
    background-color: #1a1a1b;
    color: white;
    cursor: pointer;
}

.dialog button:hover {
    background-color: #343536;
}

.dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.6em;
}

.dialog form input {
    margin: 0.5em 0;
    padding: 0.8em;
    border-radius: 2em;
    border: 2px solid #818384;
    background-color: #1a1a1b;
    color: white;
    width: 100%;
}